{% macro nav_item_entry(item, active) %}
<li class="nav-item" role="presentation">
    <button class="nav-link btn btn-link textShadow {% if active == True %}active{% endif %}" id="{{ item | lower }}-tab" data-bs-toggle="tab" data-bs-target="#{{ item | lower }}" type="button" role="tab" aria-controls="{{ item | lower }}" aria-selected="true"><b>{{ item }}</b></button>
</li>
{% endmacro %}

<!--Dashboard Panels-->
{% macro osp_info_box(version) %}
<div id="osp-version" class="info-panel-box boxShadow osp-info-box box1-fill">
    <div class="row">
        <div class="col-2">
            <img class="osplogo" src="/static/img/logo.png" alt="OSP Logo">
        </div>
        <div class="col-auto">
            <span class="osp-title-box">
                <span class="osp-title textShadow"><b>Open Streaming Platform</b></span><br>
                <span class="osp-version"><b>Version: </b>{{version}}</span>
            </span>
        </div>
    </div>
    <div class="osp-info">
        <a href="https://openstreamingplatform.com"><i class="bi bi-globe2"></i> https://openstreamingplatform.com</a><br>
        <a href="https://gitlab.com/osp-group/flask-nginx-rtmp-manager"><i class="bi bi-file-code"></i> https://gitlab.com/osp-group/flask-nginx-rtmp-manager</a>
    </div>
</div>
{% endmacro %}

{% macro metric_box(id, heading, metric, background_color_class) %}
    <div id="{{ id }}" class="info-panel-box boxShadow metricBox {{ background_color_class }}">
        <div class="info-panel-box-header-nofill textShadow"><b>{{ heading }}</b></div>
        <div id="{{ id }}-metric" class="info-panel-box-metric textShadow"><b>{{ metric }}</b></div>
    </div>
{% endmacro %}

{% macro system_status_box() %}
<div class="info-panel-box system-status-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>System Status</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div id="system-status-ospcore" class="system-status-item"><b>OSP-Core</b>: <span id="component-status_osp_core"></span></div>
        <div id="system-status-osprtmp" class="system-status-item"><b>OSP-RTMP</b>: <span id="component-status_osp_rtmp"></span></div>
        <div id="system-status-ospproxy" class="system-status-item"><b>OSP-Proxy</b>: <span id="component-status_osp_proxy"></span></div>
        <div id="system-status-ospedge" class="system-status-item"><b>OSP-Edge</b>: <span id="component-status_osp_edge"></span></div>
        <div id="system-status-ospcelery" class="system-status-item"><b>OSP-Celery</b>: <span id="component-status_osp_celery"></span></div>
        <div id="system-status-ejabberdchat" class="system-status-item"><b>Ejabberd-Chat</b>: <span id="component-status_osp_ejabberd_chat"></span></div>
        <div id="system-status-ejabberdxmlrpc" class="system-status-item"><b>Ejabberd-XMLRPC</b>: <span id="component-status_osp_ejabberd_xmlrpc"></span></div>
        <div id="system-status-database" class="system-status-item"><b>Database</b>: <span id="component-status_osp_database"></span></div>
        <div id="system-status-redis" class="system-status-item"><b>Redis</b>: <span id="component-status_osp_redis"></span></div>

    </div>
</div>
{% endmacro %}

{% macro channels_currently_live_box(streamList) %}
<div class="info-panel-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Channels Currently Live</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-channelscurrentlylive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Channel Name</th>
                        <th>Owner</th>
                        <th>Topic</th>
                        <th>Live Viewers</th>
                        <th>Time Live</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stream in streamList %}
                        <tr>
                            <td>{{ stream.linkedChannel | get_channelName }}</td>
                            <td>{{ stream.linkedChannel | channeltoOwnerID | get_userName }}</td>
                            <td>{{ stream.topic | get_topicName }}</td>
                            <td>{{ stream.currentViewers }}</td>
                            <td>{{ stream.startTimestamp | localize_time }}</td> <!--TODO TimeDelta and Update-->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro system_log_box(logsList) %}
<div class="info-panel-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Recent System Logs</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-recentsystemlogs">
            <table id="logTable" class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Type</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logsList %}
                        <tr>
                            <td>{{log.timestamp| localize_time | normalize_date}}</td>
                            <td><span class="badge bg-secondary textShadow">{{log.type|get_logType}}</span></td>
                            <td>{{log.message}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro chart_box(chartID, width, height) %}
<div class="info-panel-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Viewer Statistics</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div id="admin-chart-container-{{ chartID }}" class="admin-chart">
            <div id="statChart">
                <canvas id="{{ chartID }}" style="width:{{ width }};height:{{ height }};"></canvas>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

<!--System Settings Panels-->
{% macro settings_panel(sysSettings) %}
<div class="info-panel-box system-settings-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Settings</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="row my-3">
            <div class="col-3">
                <label for="settings-servername-input" class="form-label">Server Name</label>
                <input type="text" name="serverName" id="settings-servername-input" class="form-control boxShadow" value="{{sysSettings.siteName}}">
            </div>
            <div class="col">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="maintmodetoggle">Maintenance Mode</label>
                    <input class="form-check-input boxShadow" type="checkbox" name="maintenanceMode" id="maintmodetoggle" {% if sysSettings.maintenanceMode == True %} checked {% endif %}>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2">
                <label for="settings-protocol-input" class="form-label">Protocol</label>
                <select name="siteProtocol" id="settings-protocol-input" class="form-select boxShadow">
                  <option value="http://" {% if sysSettings.siteProtocol == 'http://' %} selected {% endif %}>http://</option>
                  <option value="https://" {% if sysSettings.siteProtocol == 'https://' %} selected {% endif %}>https://</option>
                </select>
            </div>
            <div class="col-3">
                <label for="settings-hostname-input" class="form-label">Hostname / IP Address</label>
                <input type="text" name="serverAddress" id="settings-hostname-input" value="{{ sysSettings.siteAddress }}" class="form-control boxShadow" required>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-3">
                <label for="settings-proxyhostname-input" class="form-label">OSP-Proxy Hostname</label>
                <input type="text" name="ospProxyFQDN" id="settings-proxyhostname-input" class="form-control boxShadow" value="{% if sysSettings.proxyFQDN != None %}{{sysSettings.proxyFQDN}}{% endif %}">
                <div id="proxyhostnameHelp" class="form-text">Leave Blank if no OSP-Proxy Server is Used</div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-3">
                <label class="form-label">Time Zone</label><br>
                <select class="form-select boxShadow" id="settings-serverTimeZone-input" name="serverTimeZone">
                    {% for timeZone in timeZoneOptions %}
                        <option value="{{ timeZone }}" {% if sysSettings.serverTimeZone == timeZone %} selected {% endif %}>{{ timeZone }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro appearance_panel(sysSettings) %}
<div class="info-panel-box system-appearance-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Appearance</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row my-3">
                    <div class="col-3">
                          <label for="systemLogo" class="form-label">Logo</label><br>
                          <img id="systemLogo" class="boxShadow mb-2" src="{{sysSettings.systemLogo}}" width="42" height="42">
                          <input class="form-control boxShadow" name="photo" type="file" id="formFile">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-3">
                        <label for="theme-input">Theme</label>
                        <select class="form-select boxShadow" id="theme-input" name="theme">
                            {% for theme in themeList %}
                            <option value="{{theme}}" {% if sysSettings.systemTheme == theme %} selected {% endif %}>{{theme}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12">
                        <div>Front Page Layout <button type="button" class="btn btn-sm btn-success ms-2" onclick="openFrontPageMappingModal();"><i class="fas fa-plus"></i></button></div>
                        <ul id="panelOrderList" class="panel-ui-list mt-2">
                            {% for entry in mainPagePanelMapping %}
                                <li id="front-panel-mapping-id-{{ entry.panelId }}" class="d-flex align-items-center"><i class="fas fa-bars me-2"></i> {{ entry.panelId | globalPanelIdToPanelName }} <span class="ms-auto me-2"><i class="fas fa-times" onclick="RemoveFrontPageLayoutPanel(this);"></i></span></li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn btn-primary boxShadow" onclick="save_global_panel_mapping_front_page();">Save</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="showEmptyTables">Show Empty Channels and Topics on Built-in Pages</label>
                            <input class="form-check-input boxShadow" name="showEmptyTables" type="checkbox" id="showEmptyTables" {% if sysSettings.showEmptyTables == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-5">
                        <label for="settings-announcementtitle-input" class="form-label">Server Announcement Header Title</label>
                        <input type="text" name="serverMessageTitle" id="settings-announcementtitle-input" value="{{ sysSettings.serverMessageTitle }}" class="form-control boxShadow">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-7">
                        <label for="settings-announcementcontent-input" class="form-label">Announcement Message</label>
                        <textarea class="form-control boxShadow" name="serverMessage" id="settings-announcementcontent-input" maxlength="2048">{{sysSettings.serverMessage}}</textarea>
                    </div>
                </div>
                <script>
                    var easymde_Announcement = new EasyMDE({ autoDownloadFontAwesome: false, spellChecker: false, element: document.getElementById("settings-announcementcontent-input") });
                </script>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro email_panel(sysSettings) %}
<div class="info-panel-box system-email-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Email</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="row">
            <div class="col-12">
               <div class="row my-3">
                    <div class="col-3">
                        <label for="settings-email-sendas-input" class="form-label">Send As</label>
                        <input type="text" name="smtpSendAs" id="settings-email-sendas-input" class="form-control boxShadow" value="{{sysSettings.smtpSendAs}}">
                    </div>
                </div>
               <div class="row my-3">
                    <div class="col-3">
                        <label for="settings-email-smtpserver-input" class="form-label">SMTP Server Address</label>
                        <input type="text" name="smtpAddress" id="settings-email-smtpserver-input" class="form-control boxShadow" value="{{sysSettings.smtpAddress}}">
                    </div>
                    <div class="col-2">
                        <label for="settings-email-smtpport-input" class="form-label">Port</label>
                        <input type="text" name="smtpPort" id="settings-email-smtpport-input" class="form-control boxShadow" value="{{sysSettings.smtpPort}}">
                    </div>
                    <div class="col-2">
                        <label for="settings-email-smtpencryption-input" class="form-label">Protocol</label>
                        <select name="smtpEncryption"  id="settings-email-smtpencryption-input" class="form-select boxShadow">
                          <option value="none" {% if sysSettings.smtpSSL == False and sysSettings.smtpTLS == False %} selected {% endif %}>None</option>
                          <option value="ssl" {% if sysSettings.smtpSSL == True %} selected {% endif %}>SSL</option>
                          <option value="tls" {% if sysSettings.smtpTLS == True %} selected {% endif %}>TLS</option>
                        </select>
                    </div>
               </div>
               <div class="row my-3">
                    <div class="col-3">
                        <label for="settings-email-smtpuser-input" class="form-label">Username</label>
                        <input type="text" name="smtpUser" id="settings-email-smtpuser-input" class="form-control boxShadow" autocomplete="new-password" value="{{sysSettings.smtpUsername}}">
                    </div>
               </div>
               <div class="row my-3">
                    <div class="col-3">
                        <label for="settings-email-smtppassword-input" class="form-label">Password</label>
                        <input type="password" name="smtpPassword" id="settings-email-smtppassword-input" class="form-control boxShadow" autocomplete="new-password" value="{{sysSettings.smtpPassword}}">
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro channel_settings_panel(sysSettings) %}
<div class="info-panel-box system-channelsettings-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Channels</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableRecordingToggle">Enable Recordings</label>
                            <input class="form-check-input boxShadow" type="checkbox" name="recordSelect" id="enableRecordingToggle" {% if sysSettings.allowRecording == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableUploadsToggle">Enable Uploads</label>
                            <input class="form-check-input boxShadow" type="checkbox" name="uploadSelect" id="enableUploadsToggle" {% if sysSettings.allowUploads == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableCommentsToggle">Enable Video/Clip Comments</label>
                            <input class="form-check-input boxShadow" type="checkbox" name="allowComments" name="enableProtection"  id="enableCommentsToggle" {% if sysSettings.allowComments == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableChannelProtection">Enable Channel Protection System</label>
                            <input class="form-check-input boxShadow" name="enableProtection" type="checkbox" id="enableChannelProtection" {% if sysSettings.protectionEnabled == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableRtmpRestreams">Enable RTMP Restreams</label>
                            <input class="form-check-input boxShadow" type="checkbox" name="enableRTMPRestream" id="enableRtmpRestreams" {% if sysSettings.allowRestream == True %} checked {% endif %}>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableAdaptiveToggle">Enable Adaptive Streams</label>
                            <input class="form-check-input boxShadow" type="checkbox" name="adaptiveStreaming" id="enableAdaptiveToggle"{% if sysSettings.adaptiveStreaming == True %} checked {% endif %}>
                            <small> (Can Cause Heavy CPU Load)</small>
                        </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="enableWebRTCToggle">Enable WebRTC Playback</label>
                            <input class="form-check-input boxShadow" type="checkbox" name="enableWebRTC" id="enableWebRTCToggle"{% if sysSettings.webrtcPlaybackEnabled == True %} checked {% endif %}>
                            <small class="text-danger"><b>Experimental - See Wiki Prior to Turning This On</b></small>
                        </div>
                    </div>
               </div>
               <div class="row">
                   <div class="col">
                       <label for="webRTCSignalEndpointProtocolSelect" class="form-label">WebRTC Signalling Endpoint</label>
                       <div class="input-group mb-3">
                           <div class="col-2 me-2">
                               <select name="webRTCSignalEndpointProtocol" id="webRTCSignalEndpointProtocolSelect" class="form-select"">
                                   <option value="ws://" {% if sysSettings.webrtcSignalProtocol=="ws://" %}selected{% endif %}>ws://</option>
                                   <option value="wss://" {% if sysSettings.webrtcSignalProtocol=="wss://" %}selected{% endif %}>wss://</option>
                               </select>
                           </div>
                           <div class="col-6">
                                <input type="text" class="form-control" id="webRTCSignalEndpointInput" name="webRTCSignalEndpoint" {% if sysSettings.webrtcSignalURL != None %}value="{{sysSettings.webrtcSignalURL}}"{% endif %}>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-3 mb-1">
                       <label for="maxVideoRetention" class="form-label">Maximum Retention for Recordings Before Deletion (days)</label>
                       <input type="number" name="maxVideoRetention"  id="maxVideoRetention" class="form-control boxShadow" value="{{sysSettings.maxVideoRetention}}">
                       <small>Set to 0 for Indefinite Retention</small>
                   </div>
               </div>
               <div class="row">
                    <div class="col-3">
                        <label for="limitMaxChannels" class="form-label">Maximum Allowed # of Channels per User</label>
                        <input type="number" name="limitMaxChannels"  id="limitMaxChannels" class="form-control boxShadow" value="{{sysSettings.limitMaxChannels}}">
                        <small>Set to 0 for No Restrictions</small>
                    </div>
               </div>
                <div class="row">
                    <div class="col-3">
                        <label for="maximumBitrateRtmp" class="form-label">Maximum Bitrate for RTMP Restream (Kb/s)</label>
                        <input type="number" name="restreamMaxBitrate"  id="maximumBitrateRtmp" class="form-control boxShadow" value="{{sysSettings.restreamMaxBitrate}}">
                    </div>
               </div>
               <div class="row mt-2">
                    <div class="col-3">
                        <label for="maxClipLength" class="form-label">Maximum Clip Length</label>
                        <input type="range" class="form-range" min="0" max="301" name="maxClipLength" id="maxClipLength" value="{{ sysSettings.maxClipLength }}">
                        <h3><span id="maxClipLengthLabel" class="rangeSliderValue ml-1 badge badge-info boxShadow justify-content-center w-100" style="width:100px;">{{sysSettings.maxClipLength|format_clipLength}}</span></h3>
                    </div>
               </div>
               <div class="row mt-2">
                   <div class="form-group">
                      <label for="bannedChatWords" class="col-form-label"><b>Banned Chat Words</b></label>
                      <input type="basic" id="bannedChatWords" name="bannedChatWords" class="form-control" value="{{bannedWords}}">
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro oauth_panel(oAuthProvidersList) %}
<div class="info-panel-box system-oauth-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>OAuth Providers</b>
        <span class="float-end me-3">
            <button class="btn btn-success btn-sm boxShadow" title="Add OAuth Provider" type="button" data-bs-toggle="modal" data-bs-target="#newOauthModal"><i class="bi bi-plus"></i></button>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-oauth-servers">
            <table id="oauthTable" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Client Id</th>
                        <th>Authorize URL</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for provider in oAuthProvidersList %}
                    <tr>
                        <td>{{provider.name}}</td>
                        <td>{{provider.preset_auth_type}}</td>
                        <td>{{provider.client_id}}</td>
                        <td>{{provider.authorize_url}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning shadow edit-oAuth-Button" data-id="{{provider.id}}" data-name="{{provider.name}}" data-friendlyname="{{provider.friendlyName}}"
                                    data-displaycolor="{{provider.displayColor}}" data-clientid="{{provider.client_id}}" data-clientsecret="{{provider.client_secret}}" data-accesstokenurl="{{provider.access_token_url}}"
                                    data-accesstokenparams='{{provider.access_token_params|tojson}}' data-authorizeurl="{{provider.authorize_url}}" data-authorizeparams='{{provider.authorize_params|tojson}}'
                                    data-apibaseurl="{{provider.api_base_url}}" data-clientkwargs='{{provider.client_kwargs|tojson}}' data-profileendpoint="{{provider.profile_endpoint}}" data-usernamevalue="{{provider.username_value}}"
                                    data-emailvalue="{{provider.email_value}}" data-idvalue="{{provider.id_value}}" data-authtype="{{provider.preset_auth_type}}">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger shadow" onclick="deleteOAuthProvider('{{provider.id}}');" data-bs-toggle="modal" data-bs-target="#deleteOauthModal"><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro scheduler_settings_panel(schedulerList) %}
    <h4>Manual Tasks</h4>
    <table class="table table-borderless mb-2">
        <thead>
            <tr>
                <th>Task Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Process Ingest Folders</td>
                <td><button class="btn btn-primary boxShadow" onclick="call_celery_task('process_ingest_folder');"><i class="fas fa-terminal"></i></button></td>
            </tr>
            <tr>
                <td>Check All Published Videos to Ensure They Exist</td>
                <td><button class="btn btn-primary boxShadow" onclick="call_celery_task('check_video_published_exists');"><i class="fas fa-terminal"></i></button></td>
            </tr>
            <tr>
                <td>Check Video Retention</td>
                <td><button class="btn btn-primary boxShadow" onclick="call_celery_task('check_video_retention');"><i class="fas fa-terminal"></i></button></td>
            </tr>
            <tr>
                <td>Reprocess Stuck Videos</td>
                <td><button class="btn btn-primary boxShadow" onclick="call_celery_task('reprocess_stuck_videos');"><i class="fas fa-terminal"></i></button></td>
            </tr>
            <tr>
                <td>Check Videos and Generate Needed Thumbnails</td>
                <td><button class="btn btn-primary boxShadow" onclick="call_celery_task('check_video_thumbnails');"><i class="fas fa-terminal"></i></button></td>
            </tr>
        </tbody>
    </table>
    <h4>Tasks</h4>
    <table class="table align-middle">
        <thead>
            <tr>
                <th>Status</th>
                <th>Task ID</th>
                <th>Name</th>
                <th>Arguments</th>
                <th>Start Time</th>
                <th>Acknowledged</th>
                <th>Worker ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in schedulerList['active']['celery@osp'] %}
            <tr id="celeryJob-{{entry['id'] }}">
                <td>
                    <div class="spinner-border text-success" role="status">
                      <span class="visually-hidden">Active</span>
                    </div>
                </td>
                <td>{{ entry['id'] }}</td>
                <td>{{ entry['name'] }}</td>
                <td>{{ entry['args'] }}</td>
                <td>{{ entry['time_start'] | epoch_to_datetime | localize_time }}</td>
                <td>{{ entry['acknowledged'] }}</td>
                <td>{{ entry['worker_pid'] }}</td>
                <td><button type="button" class="btn btn-danger" onclick="cancelCeleryJob('{{ entry['id'] }}');"><i class="fas fa-trash"></i></button></td>
            </tr>
            {% endfor %}
            {% for entry in schedulerList['claimed']['celery@osp'] %}
            <tr id="celeryJob-{{entry['id'] }}">
                <td><i class="fas fa-business-time" style="color:orange;" title="Claimed"></i></td>
                <td>{{ entry['id'] }}</td>
                <td>{{ entry['name'] }}</td>
                <td>{{ entry['args'] }}</td>
                <td></td>
                <td>{{ entry['acknowledged'] }}</td>
                <td>{{ entry['worker_pid'] }}</td>
                <td><button type="button" class="btn btn-danger" onclick="cancelCeleryJob('{{ entry['id'] }}');"><i class="fas fa-trash"></i></button></td>
            </tr>
            {% endfor %}
            {% for entry in schedulerList['scheduled']['celery@osp'] %}
            <tr id="celeryJob-{{entry['request']['id'] }}">
                <td><i class="fas fa-clock" style="color: var(--font-color);" title="Scheduled"></i></td>
                <td>{{ entry['request']['id'] }}</td>
                <td>{{ entry['request']['name'] }}</td>
                <td>{{ entry['request']['args'] }}</td>
                <td></td>
                <td>{{ entry['request']['acknowledged'] }}</td>
                <td>{{ entry['request']['worker_pid'] }}</td>
                <td><button type="button" class="btn btn-danger" onclick="cancelCeleryJob('{{ entry['request']['id'] }}');"><i class="fas fa-trash"></i></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro rtmp_settings_panel(rtmpServers) %}
<div class="info-panel-box system-rtmp-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Authorized RTMP Servers</b>
        <span class="float-end me-3">
            <button class="btn btn-success btn-sm boxShadow" title="Add RTMP Server" type="button" data-bs-toggle="modal" data-bs-target="#newRTMPModal"><i class="bi bi-plus"></i></button>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-rtmp-servers">
            <table id="rtmpTable" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Server Address</th>
                        <th>Active</th>
                        <th>Hide</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in rtmpServers %}
                        <tr id="rtmpTableRow-{{ server.id }}">
                            <td>{{ server.address }}</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input boxShadow" type="checkbox" name="activeRTMPNode" id="activeRTMPNode-{{ server.id }}" {% if server.active == True %} checked {% endif %} onchange="toggleActiveRTMP('{{server.id}}');">
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input boxShadow" type="checkbox" name="hiddenRTMPNode" id="hiddenRTMPNode-{{ server.id }}" {% if server.hide == True %} checked {% endif %} onchange="toggleHiddenRTMP('{{server.id}}');">
                                </div>
                            </td>
                            <td><button class="btn btn-danger btn-sm boxShadow" title="Delete" type="button" onclick="deleteRTMP('{{ server.id }}')"><i class="bi bi-trash-fill"></i></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro edge_settings_panel(edgeNodes) %}
<div class="info-panel-box system-edgesettings-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>OSP-Edge Nodes</b>
        <span class="float-end me-3">
            <button class="btn btn-primary btn-sm boxShadow" title="Rebuild Config" type="button" onclick="rebuildEdgeConf();">Rebuild Config</button>
            <button class="btn btn-success btn-sm boxShadow" title="Add Edge Server" type="button" data-bs-toggle="modal" data-bs-target="#newEdgeModal"><i class="bi bi-plus"></i></button>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-edge-servers">
            <table id="edgeTable" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Server Address</th>
                        <th>Port</th>
                        <th>Load %</th>
                        <th>Active</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for node in edgeNodes %}
                    <tr id="edgeTableRow-{{node.id}}">
                        <td><a href="/settings/admin/rtmpstat/{% if node.address == sysSettings.siteAddress %}localhost{% else %}{{node.address}}{% endif %}">{{node.address}}</a></td>
                        <td>{{node.port}}</td>
                        <td>{{node.loadPct}}%</td>
                        <td>
                            <div class="form-check form-switch">
                                    <input class="form-check-input boxShadow" type="checkbox" name="activeSelect" id="activeNode-{{ node.id }}" {% if node.active == True %} checked {% endif %} onchange="toggleActiveEdge('{{node.id}}');">
                            </div>
                        </td>
                        <td id="nodeStatus-{{node.id}}">
                            <span class="badge {% if node.status == 1 or node.address == sysSettings.siteAddress %}badge-success{% elif node.status == 0 %}badge-danger{% endif %}">
                            {% if node.status == 1 or node.address == sysSettings.siteAddress %} Online
                            {% elif node.status == 0 %} Offline
                            {% endif %}
                            </span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary {% if node.address == sysSettings.siteAddress %}disabled{% endif %}" onclick="checkEdge('{{node.id}}')" {% if node.address == sysSettings.siteAddress %}disabled{% endif %}><i class="fas fa-sync-alt"></i></button>
                            <button type="button" class="btn btn-sm btn-danger" onclick="deleteEdge('{{node.id}}')"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro webhooks_settings_panel(globalHooks) %}
<div class="info-panel-box system-webhookssettings-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Global Webhooks</b>
        <span class="float-end me-3">
            <button class="btn btn-success btn-sm boxShadow" title="Add Webhook" type="button" onclick="openNewWebhookModal();"><i class="bi bi-plus"></i></button>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-webhooks-servers">
            <table id="webhooksTable" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="display:none;"></th>
                        <th>Trigger</th>
                        <th style="display:none;"></th>
                        <th style="display:none;"></th>
                        <th style="display:none;"></th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for webhook in globalHooks %}
                    <tr id="webhookTableRow-{{webhook.id}}">
                        <td id="webhookRowName-{{webhook.id}}">{{webhook.name}}</td>
                        <td id="webhookRowEndpoint-{{webhook.id}}" style="display:none;">{{webhook.endpointURL}}</td>
                        <td id="webhookRowTrigger-{{webhook.id}}">{{webhook.requestTrigger|get_webhookTrigger}}</td>
                        <td id="webhookRowType-{{webhook.id}}" style="display:none;">{{webhook.requestType}}</td>
                        <td id="webhookRowHeader-{{webhook.id}}" style="display:none;">{{webhook.requestHeader}}</td>
                        <td id="webhookRowPayload-{{webhook.id}}" style="display:none;">{{webhook.requestPayload}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning" onclick="editWebhook('{{webhook.id}}')"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-sm btn-success" onclick="testWebhook('{{webhook.id}}')"><i class="fas fa-vial"></i></button>
                            <button type="button" class="btn btn-sm btn-danger" onclick="deleteWebhookModal('{{webhook.id}}')"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro stickers_settings_panel(globalStickers) %}
<div class="info-panel-box system-stickers-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Global Chat Stickers</b>
        <span class="float-end me-3">
            <button class="btn btn-success btn-sm boxShadow" title="Add Sticker" type="button" data-bs-toggle="modal" data-bs-target="#newStickerModal"><i class="bi bi-plus"></i></button>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-stickers-servers">
            <div class="d-flex flex-wrap justify-content-start">
                {% if globalStickers == [] %}
                    <div class="fs-5 text-center w-100 my-5">
                        <b>No Stickers Added.  Why not upload a few?</b>
                        <span class="text-center textShadow"></span>
                    </div>
                {% endif %}
                {% for sticker in globalStickers %}
                    <div id="sticker-{{ sticker.id }}" class="m-2" style="width:250px;height:250px;">
                        <div class="mx-auto my-2" style="width:128px;">
                            <img src="/images/stickers/{{ sticker.filename }}" class="lazy" style="width:128px;height:128px;object-fit: scale-down;">
                        </div>
                        <input type="text" class="form-control w-100" name="sticker-name-{{ sticker.id }}" id="sticker-name-{{ sticker.id }}" value="{{ sticker.name }}" pattern="[A-Za-z0-9_]+">
                        <div class="mx-auto my-2" style="width:96px;">
                            <button class="btn btn-warning" onclick="editStickerModal({{ sticker.id }})"><i class="fas fa-edit"></i></button>
                            <button class="btn btn-danger" onclick="deleteStickerModal({{ sticker.id }})"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro users_settings_panel(userList) %}
<div class="info-panel-box system-users-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>User List</b>
        <span class="float-end me-3">
            <button class="btn btn-sm btn-success mr-2" data-bs-toggle="modal" data-bs-target="#newUserModal"><i class="bi bi-plus"></i></button>
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#defaultRolesModal"><i class="bi bi-shield-fill-check"></i> Default Roles</button>
            <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-shield-fill-plus"></i> Bulk Add Role</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="bulkAddRole('Admin');" href="javascript:void(0);">Admin</a>
                <a class="dropdown-item" onclick="bulkAddRole('Streamer');" href="javascript:void(0);">Streamer</a>
                <a class="dropdown-item" onclick="bulkAddRole('Recorder');" href="javascript:void(0);">Recorder</a>
                <a class="dropdown-item" onclick="bulkAddRole('Uploader');" href="javascript:void(0);">Uploader</a>
                <a class="dropdown-item" onclick="bulkAddRole('User');" href="javascript:void(0);">User</a>
            </div>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-users-servers">
            <table id="usersTable" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Auth Type</th>
                        <th>Provider</th>
                        <th>Confirmation Date</th>
                        <th>Active</th>
                        <th>Roles</th>
                        <th>Deletion Flag</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in userList %}
                   <tr id="user-row-{{user.id}}">
                      <td><input name="selector-user" type="checkbox" value="{{user.id}}"></td>
                      <td><img class="rounded-circle" src="/images/{{user.pictureLocation}}" style="width:32px;height:32px;" onerror="this.src='/static/img/user2.png';"></td>
                      <td><a href="/profile/{{user.username}}">{{user.username}}</a></td>
                      <td>{{user.email}}</td>
                      <td><span class="badge badge-primary">{% if user.authType == 0 %}Local{% elif user.authType == 1 %}oAuth{% endif %}</span></td>
                      <td>{% if user.authType == 1 %}<span class="badge badge-primary">{{user.oAuthProvider}}</span>{% endif %}</td>
                      <td>{{user.confirmed_at}}</td>
                       <td>{% if user.active == true %}<span class="badge badge-success">True</span>{% else %}<span class="badge badge-secondary">False</span>{% endif %}</td>
                      <td>
                        {% for role in user.roles %}
                            <span class="badge badge-info">{{role.name}} <a href="/settings/admin?action=delete&setting=userRole&userID={{user.id}}&roleID={{role.id}}" class="{% if user.id == current_user.id %} disabled {% endif %}"><i class="bi bi-x"></i></a></span><br>
                        {% endfor %}
                      </td>
                       <td><span class="badge badge-danger">{{ user.id | get_flaggedForDeletion | normalize_date }}</span></td>
                      <td>
                        <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-shield-fill-plus"></i> Add Role</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item " href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=Admin">Admin</a>
                            <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=Streamer">Streamer</a>
                              {% if user.has_role('Streamer') %}
                                <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=Recorder">Recorder</a>
                                <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=Uploader">Uploader</a>
                              {% endif %}
                            <a class="dropdown-item" href="/settings/admin?action=add&setting=userRole&userID={{user.id}}&roleName=User">User</a>
                        </div>
                        <button id="2fa-active-button-{{ user.id }}" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Disable 2FA" onclick="disable2FAModal({{ user.id }});" {% if user.tf_primary_method == None %}disabled{% endif %}><i class="bi bi-shield-slash-fill"></i></button>
                        <a href="/settings/admin?action=toggleActive&setting=users&userID={{user.id}}" class="btn btn-sm btn-success shadow {% if user.id == current_user.id %} disabled {% endif %}" data-toggle="tooltip" data-placement="top" title="Toggle Active"><i class="bi bi-person-plus-fill"></i></a>
                        <a href="/settings/admin?action=delete&setting=users&userID={{user.id}}" class="btn btn-sm btn-danger shadow {% if user.id == current_user.id %} disabled {% endif %}" data-toggle="tooltip" data-placement="top" title="Delete User"><i class="bi bi-trash-fill"></i></a>
                      </td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro topics_settings_panel(topicsList) %}
<div class="info-panel-box system-topics-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Topics</b>
        <span class="float-end me-3">
            <button class="btn btn-success btn-sm boxShadow" title="Add Topic" type="button" data-bs-toggle="modal" data-bs-target="#newTopicModal"><i class="bi bi-plus"></i></button>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-topics-servers">
            <div class="d-flex flex-wrap justify-content-start">
                {% if topicsList == [] %}
                    <div class="fs-5 text-center w-100 my-5">
                        <b>No Topics Added</b>
                        <span class="text-center textShadow"></span>
                    </div>
                {% endif %}
                {% for topic in topicsList %}
                    <div id="topic-{{ topic.id }}" class="m-2" style="width:250px;height:275px;">
                        <div class="topicImg w-100 my-2">
                            <img class="mx-auto d-block boxShadow" id="topic-pic-{{ topic.id }}"  src="/images/{{topic.iconClass}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                        </div>
                        <input type="text" class="form-control boxShadow w-100" name="topic-name-{{ topic.id }}" id="topic-name-{{ topic.id }}" value="{{ topic.name }}" readonly>
                        <div class="mx-auto my-2" style="width:96px;">
                            <button class="btn btn-warning" onclick="editTopicModal({{ topic.id }});"><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-danger" onclick="deleteTopicModal({{ topic.id }});"><i class="bi bi-trash-fill"></i></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro channels_settings_panel(channelList) %}
<div class="info-panel-box system-channels-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Channels</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-channels-servers">
            <table id="channelsTable" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th></th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Topic</th>
                        <th>Location ID</th>
                        <th>Views</th>
                        <th>Storage</th>
                        <th>Chat</th>
                        <th>Recording</th>
                        <th>Comments</th>
                        <th>Protected</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for channel in channelList %}
                        <tr id="channelCardRow-{{channel.id}}">
                          <td><input type="checkbox" value="{{channel.id}}"></td>
                          <td>
                              <div class="channelImg-sm">
                                <img src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                              </div>
                          </td>
                          <td><a href="/channel/{{channel.id}}/">{{channel.channelName}}</a></td>
                          <td><a href="/profile/{{channel.owningUser|get_userName}}">{{channel.owningUser|get_userName}}</a></td>
                          <td><a href="/topic/{{channel.topic}}/">{{channel.topic|get_topicName}}</a></td>
                          <td>{{channel.channelLoc}}</td>
                          <td>{{channel.views}}</td>
                          <td>{{channel.channelLoc|get_diskUsage|formatSpace}}</td>
                          <td><span class="badge {% if channel.chatEnabled == True %} badge-success {% elif channel.chatEnabled == False %} badge-danger {% endif %}"> {{channel.chatEnabled}} </span></td>
                          <td><span class="badge {% if channel.record == True %} badge-success {% elif channel.record == False %} badge-danger {% endif %}"> {{channel.record}}</span></td>
                          <td><span class="badge {% if channel.allowComments == True %} badge-success {% elif channel.allowComments == False %} badge-danger {% endif %}"> {{channel.allowComments}}</span></td>
                          <td><span class="badge {% if channel.protected == True %} badge-success {% elif channel.protected == False %} badge-danger {% endif %}"> {{channel.protected}}</span></td>
                          <td><button class="btn btn-sm btn-danger" type="button" onclick="deleteChannelModal('{{channel.id}}')"><i class="bi bi-trash-fill"></i></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro streams_settings_panel(streamList) %}
<!-- Current streams-->
<div class="info-panel-box system-streams-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Streams</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-streams-servers">
            <table id="streamsTable" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Name</th>
                        <th>Channel</th>
                        <th>Owner</th>
                        <th>Topic</th>
                        <th>Live Viewers</th>
                        <th>Total Views</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for stream in streamList %}
                    <tr id="streamCard-{{stream.id}}">
                      <td><img src="/stream-thumb/{{stream.linkedChannel | get_channelLocationFromID}}.png" onerror="this.src='/static/img/video-placeholder.jpg';" style="width:128px;height:71px;"></td>
                      <td><a href="/view/{{stream.linkedChannel | get_channelLocationFromID}}/">{{stream.streamName}}</a></td>
                      <td><a href="/channel/{{stream.linkedChannel}}">{{stream.linkedChannel | get_channelName }}</a></td>
                      <td><a href="/profile/{{stream.linkedChannel | channeltoOwnerID | get_userName}}">{{stream.linkedChannel | channeltoOwnerID | get_userName}}</a></td>
                      <td><a href="/topic/{{stream.linkedChannel | get_channelTopic}}">{{stream.linkedChannel | get_channelTopic |get_topicName}}</a></td>
                      <td>{{stream.currentViewers}}</td>
                      <td>{{stream.totalViewers}}</td>
                      <td><button type="button" class="btn btn-sm btn-danger" onclick="openStreamDeleteModal('{{stream.id}}')"><i class="bi bi-trash-fill"></i></button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Stream history-->
<div class="info-panel-box system-streams-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Stream history</b>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-streams-servers">
            <table id="streamHistoryTable" class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Name</th>
                        <th>Channel</th>
                        <th>Owner</th>
                        <th>Topic</th>
                        <th>Total Views</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stream in streamHistory %}
                    <tr id="streamCard-{{stream.id}}">
                        <td>{{stream.startTimestamp | localize_time | normalize_date}}</td>
                        <td>{{stream.endTimeStamp | localize_time | normalize_date}}</td>
                        <td><a href="/view/{{stream.linkedChannel | get_channelLocationFromID }}/">{{stream.streamName}}</a></td>
                        <td><a href="/channel/{{stream.linkedChannel}}">{{stream.linkedChannel | get_channelName}}</a></td>
                        <td><a href="/profile/{{stream.linkedChannel | channeltoOwnerID |get_userName}}">{{stream.linkedChannel | channeltoOwnerID |get_userName}}</a></td>
                        <td><a href="/topic/{{stream.linkedChannel | get_channelTopic}}">{{stream.linkedChannel | get_channelTopic |get_topicName}}</a></td>
                        <td>{{stream.totalViewers}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro panel_settings_panel(globalPanelList) %}
<div class="info-panel-box system-panels-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Global Panels</b>
        <span class="ms-3">
            <button class="btn btn-success btn-sm boxShadow" title="Add Panel" type="button" data-bs-toggle="modal" data-bs-target="#NewPanelModal"><i class="bi bi-plus"></i> New Panel</button>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-panels-servers">
            <table class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Order</th>
                        <th>Target</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for panel in globalPanelList %}
                        <tr id="globalPanel-{{ panel.id }}">
                            <td id="globalPanel-name-{{ panel.id }}">{{ panel.name }}</td>
                            <td id="globalPanel-type-{{ panel.id }}">{{ panel.type | panelTypeIdToPanelTypeName }}</td>
                            <td class="d-none" id="globalPanel-typeId-{{ panel.id }}">{{ panel.type }}</td>
                            <td id="globalPanel-order-{{ panel.id }}">{% if panel.type not in [0,6] %}{{ panel.order | panelOrderIdToPanelOrderName }}{% endif %}</td>
                            <td class="d-none" id="globalPanel-orderId-{{ panel.id }}">{{ panel.order }}</td>
                            <td class="d-none" id="globalPanel-header-{{ panel.id }}">{{ panel.header }}</td>
                            <td class="d-none" id="globalPanel-content-{{ panel.id }}">{{ panel.content }}</td>
                            {% if panel.type == 6 %}
                                {% if panel.target != None %}
                                    <td id="globalPanel-targetName-{{ panel.id }}">{{ panel.target | get_channelName }}</td>
                                {% else %}
                                    <td id="globalPanel-targetName-{{ panel.id }}"><b>Not Set</b></td>
                                {% endif %}
                            {% else %}
                                <td id="globalPanel-targetName-{{ panel.id }}"></td>
                            {% endif %}
                            <td class="d-none" id="globalPanel-target-{{ panel.id }}">{{ panel.target }}</td>
                            <td>
                                {% if panel.type in [6] %}
                                <button type="button" class="btn btn-sm btn-primary boxShadow" onclick="setGlobalPanelTargetModal('{{ panel.id }}');"><i class="fas fa-bullseye"></i></button>
                                {% endif %}
                                <button type="button" class="btn btn-sm btn-warning boxShadow" onclick="editGlobalPanel('{{ panel.id }}');"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-sm btn-danger boxShadow" onclick="deleteGlobalPanelModal('{{ panel.id }}');"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}

{% macro staticPage_settings_panel(static_pages) %}
<div class="info-panel-box system-staticpage-settings-box">
    <div class="info-panel-box-header boxShadow textShadow">
        <b>Static Pages</b>
        <span class="ms-3">
            <button class="btn btn-success btn-sm boxShadow" title="Add Static Page" type="button" onclick="openNewStaticPageModal();"><i class="bi bi-plus"></i> New Static Page</button>
        </span>
    </div>
    <div class="info-panel-box-body boxShadow">
        <div class="admin-staticpage-servers">
            <table class="table table-borderless align-middle">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Icon</th>
                        <th>Top Navbar?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in static_pages %}
                        <tr id="admin-staticpage-{{ page.id }}">
                            <td id="admin-staticpage-title-{{ page.id }}">{{ page.title }}</td>
                            <td>/p/{{ page.name }}<span id="admin-staticpage-name-{{ page.id }}" class="d-none">{{ page.name }}</span></td>
                            <td><span id="admin-staticpage-iconimg-{{ page.id }}" class="shadow {{ page.iconClass }}"></span> <span id="admin-staticpage-icon-{{ page.id }}">{{ page.iconClass }}</span></td>
                            <td id="admin-staticpage-topbar-{{ page.id }}">{{ page.isTopBar }}</td>
                            <td class="d-none" id="admin-staticpage-content-{{ page.id }}">{{ page.content }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-warning boxShadow" onclick="editStaticPage('{{ page.id }}');"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-sm btn-danger boxShadow" onclick="deleteStaticPageModal('{{ page.id }}');"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endmacro %}
